[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
django-filter = "*"
django-cors-headers = "*"
flask = "*"


[dev-packages]

